<!DOCTYPE html>
<html>
<head>
  <title>Game Room</title>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script src="/static/game.js" defer></script>
</head>
<body>
    <h1>Room: {{ room }}</h1>
    <h2 id="status">Waiting for player...</h2>
    <div id="board" class="board"></div>
    <button id="restartBtn" style="display:none;">Play Again</button>
  
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        const room = "{{ room }}";
        const size = {{ size }};
      </script>      
    <script src="/static/game.js" defer></script>
  </body>  
</html>
